<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/contactus.css" />
  </head>
  <body>
    <form action="/success" method="POST">
      <div class="main">
        <div class="info">
          <label for="">Name</label>
          <input placeholder="name" name="name" />
          <label for="">Email</label>

          <input type="text" placeholder="email" name="email"/>
        </div>

        <div>
          <label for="">Phone Number</label>

          <input placeholder="phone number" class="ph" name="phone number" />
        </div>
        <button type="submit">submit</button>
      </div>
    </form>
  </body>
</html>
